* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 48%;
}

input {
  min-height: 48px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.25rem 0.75rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.autocomplete {
  background-color: #efefef;
  border: 1px solid rgb(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 0.5rem;
}

.autocomplete ul {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
